body {
    font-family: 'Roboto', sans-serif; 
}

ul {
    list-style-type: none;
}

.picture-details > img {
    border: 3px solid #3882F6;
    border-radius: 25px;
    width: 150px;
    height: 150px;
} 

.intro {
    background-color: #1f2937;
    color: white;
    display: flex;
    gap: 2px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.logo-links {
    font-size: 18px;
    color: #e5e7eb
}