@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    font-family: 'Roboto', sans-serif; 
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px
}


.picture-details > img {
    border: 3px solid #3882F6;
    border-radius: 25px;
    width: 150px;
    height: 150px;
} 

.intro {
    background-color: #1f2937;
    color: white;
}

.header {
    display: flex;
    gap: 3px;
    justify-content: space-between;
    padding: 30px;
}

.sign-up-header {
    display: flex;
    flex-direction: center;
    align-items: center;
    padding: 30px;
    gap: 3px;
    
}

.intro-img {
    display: flex;
    padding: 30px;
    max-width: 500px;
    max-height: 300px;
    background-color: grey;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

a:link, .intro-text {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

a:visited
{
    color:#e5e7eb;
}

a:hover 
{
    color:#e5e7eb;
}

.intro-title {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

button {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    padding: 5px;
    background: #3882F6;
    color: #e5e7eb
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    margin: 2em;
}

.pictures{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2em;
}

.quote {
    background-color: #e5e7eb;
    font-size: 36px;
    color: #1f2937;
    display: flex;
}

.quote p {
    font-weight: 800;
}

.footer {
    background-color: #1f2937;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
}